{##
 #  @file home.twig
 #  @desc This is the template file for the home page of the Rant and Rave website. 
 #        It displays a list of posts.
 #}

{# Extend the base template #}
{% extends "base.twig" %}

{# Set the title of the page #}
{% block title %}Home{% endblock %}

{# Set the content of the page #}
{% block content %}
    <h1>Home</h1>

    {# Latest Rant and Rave Articles #}
    <h2>Latest</h2>
    <ul>
        {# Loop through the posts and display their titles #}
        {% for post in latestPosts %}
            <li>{{ post["title"]["rendered"] }}</li>
        {% endfor %}
    </ul>

    {# Articles per Category #}
    {% for category, posts in categoryPosts %}
        {# Capitalize the category name's first letter #}
        <h2>{{ category|capitalize }}</h2>
        <ul>
            {# Loop through the posts and display their titles #}
            {% for post in posts %}
                <a href="{{ path_for('post', { 'slug': post['slug'] }) }}">
                    <li>{{ post["title"]["rendered"] }}</li>
                </a>
            {% endfor %}
        </ul>

        {# Display a link to the category page #}
        <a href="{{ path_for('category', { 'category': category }) }}">More</a>
    {% endfor %}
{% endblock %}